{% extends 'base.html'%}
{% block title %}Home Page{% endblock %}s
{% block content %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./user_profiles/pexels-pixabay-267569.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="./user_profiles/pexels-pixabay-261579.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="./user_profiles/pexels-ivan-samkov-4240505.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <a role="button" href="signin/" class="btn btn-primary m-3">Sign Up Here!</a>
  <a role="button" href="login_user/" class="btn btn-success m-3">Login Here!</a>
</div>
{% endblock %}