{% extends 'base.html'%}
{% block title %}Home Page{% endblock %}s
{% block content %}
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./user_profiles/intro.jpeg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/user_profiles/2.jpeg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/user_profiles/3.jpeg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="alert alert-danger" role="alert">
    New User?<a href="signin/" class="alert-link">Sign Up Here!</a>
  </div>
  <div class="alert alert-info" role="alert">
    Existing User?<a href="login_user/" class="alert-link">Login Here!</a>
  </div>
{% endblock %}