<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <nav>
        <ul>
            <li>Blog</li>
            <li style="margin-left:auto;">Hello {{request.user.username}}</li>
            <li><a href="/recommended_posts">Discover New Posts</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
</head>
<body>
    {% block content %}
    {% endblock %}
    <script>
        document.getElementById("discover").addEventListener("change",(e)=>{
            document.getElementById("href").href+=e.target.value;
        })
    </script>
</body>
</html>
