{% extends 'navbar.html' %}
{% block content %}
<form name="search" action="/blog" method="GET">
    <label for="discover">Discover blogs</label>
    <input type="text" id="discover" name="q">
    {% comment %} <a id="href" href="/discover?q=">Search blogs</a> {% endcomment %}
</form>
<a href="/blog">Return to Dashboard</a>
<p>__________________________________</p>
{% for post in posts %}
<div>
    <p>{{post.title}}</p>
    <p>{{post.content}}</p>
    <p>{{post.summary}}</p>
    <p>{{post.category}}</p>
    <p>{{post.author.username}}</p>
    <p>{{post.no_of_likes}} users liked this.</p>
    <a role="button" href="/like_post/{{post.id}}/">Like</a>
    <a href="/unlike_post/{{post.id}}/">UnLike</a>
    <a href="/follow/add_author/{{post.id}}/0/">Follow author</a>
    <a href="/follow/add_author/{{post.id}}/1/">Follow category</a>
    <p>__________________________</p>
</div>
{% endfor %}
{% endblock %}
