{% extends 'nav.html' %}
{% block content %}
<br>
{% for post in posts %}
<div style="height:220px;">
    <img style="float:left;margin-right:35px;border-radius:50%;" src="/user_profiles/{{post.image}}" alt="" height="200" width="200">
    <div class="d-flex card-title h4">
        <span>{{post.title}}</span>
        <span style="margin-left:auto;margin-right:5vw;" class="badge badge-pill badge-danger">{{post.category}}</span>
        <span style="margin-right:30vw;"><a href="/author/{{post.author.username}}/">@{{post.author.username}}</a></span>
    </div>
    <p style="height:75px;overflow:none;"><strong>Summary:&nbsp;&nbsp;&nbsp;&nbsp;</strong>{{post.summary}}</p>
    <p>{{post.no_of_likes}} users liked this.</p>
    <a role="button" class="btn btn-primary" href="/user/{{request.user}}/post_details/{{post.id}}/">View Post</a>
</div>
<hr>
{% endfor %}
<div class="d-flex justify-content-center">
    {% if posts.has_previous %}
        {% if flag == 0 %}
            <a role="button" class="btn btn-danger" style="margin-right:2rem;" href="?page={{posts.previous_page_number}}">Prev Page</a>
        {% else %}
        <a role="button" class="btn btn-danger" style="margin-right:2rem;" href="/user/{{request.user.username}}/recommended_posts/?page={{posts.previous_page_number}}">Prev Page</a>
        {% endif %}
    {% endif %}


    {% if posts.has_next %}
            {% if flag == 0 %}
                    <a role="button" class="btn btn-primary" href="?page={{posts.next_page_number}}">Next Page</a>
            {% else %}
                    <a role="button" class="btn btn-primary" href="?page={{posts.next_page_number}}">Next Page</a>
            {% endif %}    
    {% endif %}

</div>
{% endblock %}
